template
	div
		p.text
			| classDeco: ${t1}
		p.text
			| propertyDeco: ${ t2 }
		p.text
			| t3 value: ${ t3 }
		p.text
			| extraId value: ${ _extraId }
	div
		button(click.delegate='name()') click
